nav {
    width: 100%;
    height: 80px;
    background: linear-gradient(to bottom, #ffffff, #d7ffda);
    position: fixed;
  }
  ul {
    height: 100%;
  
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 36px;
    list-style-type: none;
    padding: 0 80px 0 80px;
    border-bottom: 0.4px solid rgb(0, 0, 0);
  }
  ul li a {
    text-decoration: none;
  }
  nav ul li a {
    font-size: 16px !important;
    font-weight: 600;
  }
  nav ul li a:hover {
    color: var(--primary-color);
  }
  